@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,400&display=swap');
:root{
    --primaryColor:#000;
    --secondColor:#fff;
}
/*Typography*/
html{
    box-sizing: border-box;
    font-size: 62.5%;

}
body{
    margin: 0;
    padding: 0;
    font-family: Roboto, "Roboto", Arial, sans-serif;
    font-size: 1.4rem;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
input{
    border: none;
    outline: none;
}
img{
    max-width: 100%;
}
p{
    color: var(--secondColor);
    font-weight: 400;
}
.padd {
    margin:0 2%;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    background: url("/images/woodland-road-falling-leaf-natural-38537.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
}
/*Nav Bar*/
header {
    grid-area: header;

}
header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 60px;
}
header ul li{
    margin-left: 1.6rem;
}
header ul li a{
    color: var(--secondColor);
}
.img-menu-container{
    display: block;
    position: relative;
    width: 30px;     
    height: 30px;
    overflow: hidden;
}
.img-menu{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 50%;
    
}

.img-menu:hover{
    background-color: var(--secondColor);
    opacity: 0.3;
}
.img-container{
    display: block;
    position: relative;
    width: 35px;     
    height: 35px;
    border-radius:50%;
    overflow: hidden;
}
img.profile-img{
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;

}

#main{
    grid-area: main;
    width: 100%;
}
.main-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#google-logo{    
    padding-top:6.5rem  ;
}
form{
    height: 44px;
    width: 40%;
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--secondColor);
    background-color: var(--secondColor);
    box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
    margin-top: 2.9rem;

}
form .img-form-one{
    padding-left: 1.6%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
form .img-form-two{
    padding-right: 1.6%;
    width: 24px;
    height: 24px;
    cursor: pointer;

}

form .img-form-one{
    padding-left: 1.6rem;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
form .img-form-two{
    padding-right: 1.6rem;
    width: 24px;
    height: 24px;
    cursor: pointer;

}
form input{
    flex: 1;
    height: 100%;
    font-size: 16px;
    padding-left: 20px;
}
form input::placeholder{
    color: gray;
}
form input.hide::placeholder{
    color: transparent;
}

.shortcuts{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(5,1fr); 
    width: 40%;
    padding: 0 1.6rem;
}
.single-shortcut{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 90px;
    margin: 2%;
    flex-direction: column;
    margin-top: 3rem;
    
}
.single-shortcut:hover{
    background-color: var(--primaryColor);
    opacity: 0.7;
}
.shortcut-img{
    width: 45%;     
    height: 45%;
    border-radius:50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondColor);   
}
.shortcut-img img{
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}
#footer{
    grid-area: footer;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#footer ul{
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    height: 100%;
}
#footer ul li:first-child{
    display: flex;  
    /* justify-content: flex-start; */
    align-items: center;
}
#footer ul li:first-child a{
    margin-right: 9px;
    color: var(--secondColor);

}
#footer ul li:nth-child(2) a{
    color: var(--secondColor);
    height: 16px;
    width: 16px;

}